/* font-family: 'Roboto', sans-serif; */


*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.bg{
    background:url(./bg.jpg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    

}

.main{
    position: absolute;;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
h1 {
    font-size: 56px;
    text-align: center;
    margin-top: 5rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #c0b33c 1%, #f14040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 20%;
    left: 0;



  }

.timer{
   
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);


}
.ct{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-right: 20px;
    
}
.test{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-right:3rem;

}
.box{
    background-color: rgba(255, 245, 238, 0.514);
    height: 45rem;
    width: 100rem;
    border-radius: 10px; 

}
.div1{
    background-color: rgb(46, 23, 23);
    margin: 2px;
    width: 25px;
    height: 3px;
    border-width: 10px;
    position: relative;
    top: -105%;
    right: -1500%;
    cursor: pointer;
}

#mail{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 14px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-35%,-50%);
    outline: none;
    padding: 20px;
}

.fa-envelope{
    position: absolute;
    top: 69%;
    right: 40%; 
   }
    #days{
        margin-left: -1rem;
    }
    .socialMedia{
        position: relative;
        top: 41%;
        left: 48%;
        display: flex;
        justify-items: center;
       

    }
    .facebook, .twitter, .git  {
        margin: 20px;

    }
    .fa-facebook{
        color: rgb(4, 154, 255);
    }
    .fa-github{
        color: black;
    }
    .fa-twitter{
        color: rgb(37, 168, 255);
    }
    


    @media screen and (max-width: 1450px) {
        /* start of large tablet styles */
            h1{
                font-size: 50px;
                text-align: center;
                        }
            .box{
                margin-top: 13rem;
                background-color: rgba(255, 245, 238, 0.514);
                height:800px;
                width:1000px ;
                border-radius: 10px; 
               }
               #mail{
                width: 350px;
                height: 50px;
                border: none;
                border-radius: 14px;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
                outline: none;
                padding: 20px;
            }
            .socialMedia{
                position: relative;
                top: 50%;
                left: 40%;
                display: flex;
                justify-items: center;
               
        
            }
            .ct{
                font-family: 'Roboto', sans-serif;
                font-size: 50px;
                font-weight: 600;
                text-align: center;
                
            }
            .test{
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
            
            }
            .timer{
           
                display: flex;
                justify-content: center;
                position: relative;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            
            
            }
            .fa-envelope{
                position: absolute;
                right: 35%; 
               }
            }
    
    /* start of laptop styles */
    @media screen and (max-width: 1140px) {
        /* start of large tablet styles */
            h1{
                font-size: 50px;
                text-align: center;
                        }
            .box{
                margin-top: 13rem;
                background-color: rgba(255, 245, 238, 0.514);
                height:880px;
                width:1000px ;
                border-radius: 10px; 
               }
               #mail{
                width: 350px;
                height: 50px;
                border: none;
                border-radius: 14px;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
                outline: none;
                padding: 20px;
            }
            .socialMedia{
                position: relative;
                top: 60%;
                left: 40%;
                display: flex;
                justify-items: center;
               
        
            }
            .ct{
                font-family: 'Roboto', sans-serif;
                font-size: 50px;
                font-weight: 600;
                text-align: center;
                
            }
            .test{
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
            
            }
            .timer{
           
                display: flex;
                justify-content: center;
                position: relative;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            
            
            }
            .fa-envelope{
                position: absolute;
                right: 35%; 
               }
            }

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
        h1{
            font-size: 50px;
        }
        .box{
            margin-top: 10rem;
            background-color: rgba(255, 245, 238, 0.514);
            height:800px;
            width:800px ;
            border-radius: 10px; 
           }
           #mail{
            width: 350px;
            height: 50px;
            border: none;
            border-radius: 14px;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-35%,-50%);
            outline: none;
            padding: 20px;
        }
        .socialMedia{
            position: relative;
            top: 60%;
            left: 50%;
            display: flex;
            justify-items: center;
           
    
        }
        .ct{
            font-family: 'Roboto', sans-serif;
            font-size: 38px;
            font-weight: 600;
            text-align: center;
            
        }
        .test{
            font-family: 'Roboto', sans-serif;
            font-size: 23px;
        
        }
        .timer{
       
            display: flex;
            justify-content: center;
            position: relative;
            top: 30%;
            left: 62%;
            transform: translate(-50%, -50%);
        
        
        }
        .fa-envelope{
            position: absolute;
            right: 25%; 
           }
        }

    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    h1{
        font-size: 40px;
    }
    .box{
        background-color: rgba(255, 245, 238, 0.514);
        height:700px;
        width:600px ;
        border-radius: 10px; 
       }
       #mail{
        width: 350px;
        height: 50px;
        border: none;
        border-radius: 14px;
        position: absolute;
        top: 70%;
        left: 40%;
        transform: translate(-35%,-30%);
        outline: none;
        padding: 20px;
    }
    .socialMedia{
        position: relative;
        top: 60%;
        left: 38%;
        display: flex;
        justify-items: center;
       

    }
    .ct{
        font-family: 'Roboto', sans-serif;
        font-size: 38px;
        font-weight: 600;
        position: relative;
        left: 20%;
        
    }
    .test{
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
    
    }
    .timer{
   
        display: flex;
        justify-content: center;
        position: relative;
        top: 30%;
        left: 62%;
        transform: translate(-50%, -50%);
    
    
    }
    .fa-envelope{
        position: absolute;
        top: 70%;
        right: 25%; 
       }
    }
    
    @media screen and (max-width: 500px) {
    /* start of phone styles */
    h1{
        font-size: 34px;
    }
    .box{
        background-color: rgba(255, 245, 238, 0.514);
        height:600px;
        width:460px ;
        border-radius: 10px; 
       }
       #mail{
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 14px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-35%,-30%);
        outline: none;
        padding: 20px;
    }
    .socialMedia{
        position: relative;
        top: 50%;
        left: 30%;
        display: flex;
        justify-items: center;
       

    }
    .ct{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        
    }
    .test{
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
    
    }
    .timer{
   
        display: flex;
        justify-content: center;
        position: relative;
        top: 30%;
        left: 62%;
        transform: translate(-50%, -50%);
    
    
    }
    .fa-envelope{
        position: absolute;
        top: 70%;
        right: 25%; 
       }
    }
    
